<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script type="text/javascript" src="libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="client.js"></script>
</head>
<body ng-controller="SeoController as seo" ng-submit="seo.run();">
<form novalidate>
    <input type="text" ng-model="seo.firstUrl" placeholder="Url à analyser"/>
    <input type="submit" value="Analyser"/>
    <button ng-click="seo.calcul();" >Calcul</button>
</form>
<div>
    <p>Pages analysées: {{seo.scanned}}</p>

    <p>Liens externes: {{seo.outLink}}</p>

    <p ng-repeat="level in seo.levels track by $index">
        Page de niveau {{$index}}: {{level}}
    </p>

    <p>Pages sans title: {{seo.withoutTitle.total}}

    <p ng-repeat="page in seo.withoutTitle.pages track by $index">{{page.url}} from {{page.referer}}</p>
    </p>

    <p>Pages 404: {{seo.error404.total}}

    <p ng-repeat="page in seo.error404.pages track by $index">{{page.url}} from {{page.referer}}</p>
    </p>

    <p>Pages 30x: {{seo.error30x.total}}

    <p ng-repeat="page in seo.error30x.pages track by $index">{{page.url}} from {{page.referer}}</p>
    </p>

    <p>Pages avec paramètres: {{seo.withParameters.total}}

    <p ng-repeat="page in seo.withParameters.pages track by $index">{{page}}</p>
    </p>

    <p>Pages:</p>

    <p ng-repeat="page in seo.tree track by $index">
        {{page.url}}
    </p>

</div>
</body>
</html>